---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
---

<Layout
  title="Inicio"
  description="Bienvenido a mi portafolio personal. Soy un desarrollador web apasionado por la tecnología y la creación de experiencias digitales únicas."
>
  <main class="text-center py-10 px-4 text-white">
    <Home />
    <About />
    <Projects />
    <Contact />
  </main>
</Layout>
