---
import Layaout from "../layouts/Layout.astro";
import { projects } from "../constants/projects";
---

<Layaout
  title="Proyectos"
  description="Explora mis proyectos y trabajos anteriores como desarrollador web."
>
<div class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[30rem] gap-4 p-20 mx-auto border-rose-50">
    <ul class="">
        {projects.map((project) => (
            <li class=" col-span-10 md:col-span-4 "> 
                <h2>{project.title}</h2>
                <p>{project.description}</p>
                <a href={project.link} target="_blank" rel="noopener noreferrer">Ver Proyecto</a>
            </li>
        ))}
    </ul>
</div>
</Layaout>
