---
import { Icon } from "astro-icon/components";
---

<footer
  class="text-white px-2 py-6 text-center rounded-t-3xl shadow-inner
  bg-gradient-to-br
    from-[oklch(0.18_0.02_285.823)]
    via-[oklch(0.35_0.04_285.823)]
    to-[oklch(0.55_0.08_285.823)]"
>
  <div class="container mx-auto">
    <div class="text-sm mb-2">
      &copy; {new Date().getFullYear()} Daniel Ospina. Todos los derechos reservados.
    </div>
    <ul class="flex justify-center space-x-6 mt-2 text-2xl">
      <li>
        <a
          href="https://twitter.com"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-yellow-300 transition"
          ><Icon name="mdi:twitter" /></a
        >
      </li>
      <li>
        <a
          href="https://github.com"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-yellow-300 transition"><Icon name="mdi:github" /></a
        >
      </li>
      <li>
        <a
          href="https://linkedin.com"
          target="_blank"
          rel="noopener noreferrer"
          class="hover:text-yellow-300 transition"
          ><Icon name="mdi:linkedin" /></a
        >
      </li>
    </ul>
  </div>
</footer>
