
<header class="fixed w-screen py-4 z-10 backdrop-blur-sm top-0 px-8 lg:px-0">
  <div class="grid grip-cols-3 max-w-7xl mx-auto items-center justify-between">
  <a href="/" class=col-span-1">
    <img src="/logo.svg" alt="Logo" class="h-8 w-8 inline-block mr-2" />
  </div>
  <nav class="col-span-1 justify-self-center text-white">
    <ul class="flex gap-4">
      <li><a href="/" class="text-xl font-bold hover:text-gray-700 px-6">Inicio</a></li>
      <li><a href="/about" class="text-xl font-bold hover:text-gray-700 px-6">Sobre mí</a></li>
      <li><a href="/projects" class="text-xl font-bold hover:text-gray-700 px-6">Proyectos</a></li>
      <li><a href="/contact" class="text-xl font-bold hover:text-gray-700 px-6">Contacto</a></li>
    </ul>
  </nav>
</header>
  